<div class="container">
    <h1>Profile</h1> 
    <hr class="my-4">
        <table>
          <tr>
            <th>
              <form>
                 <div class="form-row">
                    <div class="form-group col-md-2">
                      <img  src={{obj?.picture.large}} class="rounded-circle" >
                    </div>                                                      
                  </div>
              </form>
            </th>
                    <th class="col-md-6">
                      <form >
                        <div>
                          <div class="form-group col-md-6">
                            <label for="nome" >Nome: {{obj?.name.first}}</label>
                          </div>
                            <div class="form-group col-md-6">
                            <label for="sobrenome" >Sobrenome:{{obj?.name.last}}</label>
                          </div>
                           <div class="form-group col-md-6">
                           <label for="email">Email: {{obj?.email}}</label>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="dataNascimento" >Data de Nascimento: {{obj?.dob}} </label>
                          </div>     
                          </div>
                      </form>
                    </th>
                </tr>
           </table>
           
          
   </div>